<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="TestCases.HomeLoanTest">
				<methods>
					<exclude name="test1"/>
				</methods>
			</class>
			<class name="com.simplilearn.TestNGProject.AppTest" />
			<class name="TestCases.CreditCardTest" />
			<class name="TestCases.CarLoanTest" />
			<class name="TestCases.HomeLoanTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
